name: "{{ home_name }}-tailscale"
services:
  tailscale:
    image: "{{ home_images.tailscale.image }}"
    container_name: "{{ home_name }}-tailscale"
    ports:
      - "{{ tailscale_bind_host }}:9002:9002"
    environment:
      TZ: "{{ home_timezone }}"
      TS_AUTHKEY: "{{ home_secrets.tailscale.auth_key }}"
      TS_EXTRA_ARGS: {{ service_vars.conf.extra_args }}
      TS_STATE_DIR: /var/lib/tailscale
      TS_USERSPACE: false
      TS_ENABLE_METRICS: true
      TS_LOCAL_ADDR_PORT: 0.0.0.0:9002
    volumes:
      - tailscale_state:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    restart: always
    network_mode: host

networks: {}

volumes:
  tailscale_state: {{ service_vars.volumes.tailscale_state }}