home_image_offline_s3: # s3的离线镜像备份与下载信息
  bucket_name: home-ansible
  endpoint_url: https://s3.cn-east-1.qiniucs.com
  region: cn-east-1
  prefix: images/
  local_dir: /opt/home-images

home_image_mirrors:
  ghcrio: "ghcr.nju.edu.cn"

home_images:
  mosdns: # https://hub.docker.com/r/irinesistiana/mosdns/tags
    image: irinesistiana/mosdns:v5.3.3
    offline_file: mosdns_v5.3.3
  grafana: # https://hub.docker.com/r/grafana/grafana/tags
    image: grafana/grafana:12.0.0-ubuntu
    offline_file: grafana_12.0.0-ubuntu
  prometheus: # https://hub.docker.com/r/prom/prometheus/tags
    image: prom/prometheus:v3.4.0
    offline_file: prometheus_v3.4.0
  node_exporter: # https://hub.docker.com/r/prom/node-exporter/tags
    image: prom/node-exporter:v1.9.1
    offline_file: node-exporter_v1.9.1
  fluentd: # https://hub.docker.com/_/fluentd/tags
    image: fluentd:v1.18.0-debian-1.0
    offline_file: fluentd_v1.18.0-debian-1.0
  cadvisor: # https://hub.docker.com/r/bitnami/cadvisor/tags
    image: swr.cn-north-4.myhuaweicloud.com/ddn-k8s/gcr.io/cadvisor/cadvisor-amd64:v0.49.1
    offline_file: cadvisor_0.49.1
  vaultwarden: # https://hub.docker.com/r/vaultwarden/server/tags
    image: vaultwarden/server:1.33.2
    offline_file: vaultwarden_server_1.33.2
  portainer: # https://hub.docker.com/r/portainer/portainer-ce/tags
    image: portainer/portainer-ce:2.30.1
    offline_file: portainer-ce_2.29.2-alpine
  nginx: # https://hub.docker.com/_/nginx
    image: "{{ home_image_mirrors.ghcrio }}/zhangzqs/docker-nginx-vts:v1.28.0"
    offline_file: nginx_vts_1.28.0
  nginx_vts_exporter: # https://hub.docker.com/r/sophos/nginx-vts-exporter/tags
    image: "sophos/nginx-vts-exporter:v0.10.7"
    offline_file: nginx-vts-exporter_v0.10.7
  speedtest: # https://github.com/librespeed/speedtest/pkgs/container/speedtest/versions
    image: "{{ home_image_mirrors.ghcrio }}/librespeed/speedtest:5.4.1"
    offline_file: speedtest_5.4.1
  drawio: # https://hub.docker.com/r/jgraph/drawio/tags
    image: jgraph/drawio:27.0.5
    offline_file: drawio_27.0.5
  samba: # https://hub.docker.com/r/dockurr/samba/tags
    image: dockurr/samba:4.21
    offline_file: samba_4.21
  aria2: # https://hub.docker.com/r/p3terx/aria2-pro/tags
    image: p3terx/aria2-pro:202209060423
    offline_file: p3terx_aria2-pro_202209060423
  aria_ng: # https://hub.docker.com/r/p3terx/ariang/tags
    image: p3terx/ariang:latest
    offline_file: p3terx_ariang_latest
  acme_sh: # https://hub.docker.com/r/neilpang/acme.sh/tags
    image: neilpang/acme.sh:3.1.1
    offline_file: neilpang_acme.sh_3.1.1
  immich_server: # https://github.com/immich-app/immich/pkgs/container/immich-server/versions
    image: "{{ home_image_mirrors.ghcrio }}/immich-app/immich-server:v1.133.0"
    offline_file: immich-server_v1.133.0
  immich_machine_learning: # https://github.com/immich-app/immich/pkgs/container/immich-machine-learning/versions
    image: "{{ home_image_mirrors.ghcrio }}/immich-app/immich-machine-learning:v1.133.0"
    offline_file: immich-machine-learning_v1.133.0
  immich_redis:
    image: docker.io/valkey/valkey:8-bookworm@sha256:ff21bc0f8194dc9c105b769aeabf9585fea6a8ed649c0781caeac5cb3c247884
    offline_file: immich_valkey_8-bookworm_sha256_ff21bc0f
  immich_postgres:
    image: "{{ home_image_mirrors.ghcrio }} /immich-app/postgres:14-vectorchord0.3.0-pgvectors0.2.0"
    offline_file: immich_postgres_14-vectorchord0.3.0-pgvectors0.2.0
  plantuml: # https://hub.docker.com/r/plantuml/plantuml-server/tags
    image: plantuml/plantuml-server:jetty-v1.2025.2
    offline_file: plantuml-server_jetty-v1.2025.2
  filebrowser: # https://hub.docker.com/r/filebrowser/filebrowser/tags
    image: filebrowser/filebrowser:v2.40.1
    offline_file: filebrowser_2.40.1
  gitea: # https://hub.docker.com/r/gitea/gitea/tags
    image: gitea/gitea:1.23
    offline_file: gitea_1.23
  kms_app: # https://hub.docker.com/r/11notes/kms/tags
    image: 11notes/kms:1.0.1
    offline_file: kms_1.0.1
  kms_gui: # https://hub.docker.com/r/11notes/kms-gui/tags
    image: 11notes/kms-gui:1.0.1
    offline_file: kms-gui_1.0.1
  dify_postgres: # 数据库
    image: postgres:17-alpine
    offline_file: postgres_17-alpine
  dify_redis: # 缓存数据库和消息队列
    image: redis:6-alpine
    offline_file: redis_6-alpine
  dify_qdrant: # Dify 向量数据库
    image: qdrant/qdrant:v1.14.0
    offline_file: qdrant_v1.14.0
  dify_sandbox: # Dify 代码节点沙箱
    image: langgenius/dify-sandbox:0.2.10
    offline_file: dify-sandbox_0.2.10
  dify_plugin_daemon: # Dify 插件守护进程
    image: langgenius/dify-plugin-daemon:0.0.5-local
    offline_file: dify-plugin-daemon_0.0.5-local
  dify_api_worker: # Dify API/Worker 服务
    image: langgenius/dify-api:1.1.0
    offline_file: dify-api_1.1.0
  dify_web: # Dify Web 前端服务
    image: langgenius/dify-web:1.1.0
    offline_file: dify-web_1.1.0
  tailscale: # https://hub.docker.com/r/tailscale/tailscale/tags
    image: tailscale/tailscale:v1.84.0
    offline_file: tailscale_v1.84.0
  process_exporter: # https://hub.docker.com/r/ncabatoff/process-exporter/tags
    image: ncabatoff/process-exporter:v0.8.7
    offline_file: process-exporter_v0.8.7
  my_exporter: # https://github.com/zhangzqs/my-exporter/pkgs/container/my-exporter/
    image: "{{ home_image_mirrors.ghcrio }}/zhangzqs/my-exporter:v0.0.17"
    offline_file: my-exporter_v0.0.17
  rclone: # https://hub.docker.com/r/rclone/rclone/tags
    image: rclone/rclone:sha-4107246
    offline_file: rclone_sha-4107246
  alertmanager: # https://hub.docker.com/r/prom/alertmanager/tags
    image: prom/alertmanager:v0.28.1
    offline_file: alertmanager_v0.28.1
  dlna_render:
    image: "{{ home_image_mirrors.ghcrio }}/zhangzqs/dlna-render:v0.0.4"
    offline_file: dlna-render_v0.0.4
  vfs_framework:
    image: "{{ home_image_mirrors.ghcrio }}/zhangzqs/vfs_framework:v0.1.1"
    offline_file: vfs_framework_v0.1.1
  it_tools: # https://hub.docker.com/r/corentinth/it-tools/tags
    image: corentinth/it-tools:2024.10.22-7ca5933
    offline_file: it-tools_2024.10.22-7ca5933
  victoriametrics:
    image: victoriametrics/victoria-metrics:v1.123.0
    offline_file: victoriametrics_v1.123.0
  victoriametrics_vmagent:
    image: victoriametrics/vmagent:v1.123.0
    offline_file: victoriametrics_vmagent_v1.123.0
